body {
    background: linear-gradient(135deg, rgb(224, 244, 153), rgb(114, 63, 150));
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(./very_light.png);
    padding-top: 150px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 60px; 
    margin-bottom: 30px;
}

.box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

#text1, #text2 {
    width: 300px;
    height: 300px;
    background-color: rgba(42, 111, 163, 0.285);
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    resize: none;
}

.enc, .dec, .sub {
    height: 50px;
    width: 120px;
    border-radius: 25px;
    background-color: rgb(254, 223, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


.sub {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}


button:hover {
    background-color: azure;
    transition: 0.4s;
    transform: scale(1.01);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}


@media only screen and (max-width: 768px) {
    .box-container {
        flex-direction: column;
        gap: 20px;
    }

    #text1, #text2 {
        width: 90%;
    }

    .enc, .dec, .sub {
        width: 80%;
    }
}